# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ini

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.vscode
build
glfw-3.3.8
x64
assimp
.vs
imgui

*.aux
*.toc
*.zip
*.bbl
*.blg
*.bcf
*.xml
*.gz
*.log
*.bkp
*.dtmp
svg-inkscape